
@media (min-width: 425px) {
  #hide-menu{
  display:inline;
  }
   
  }
  
  @media (min-width: 728px) {


#menu-bar{
 right:50px;
  gap:40px;
}


    
    .home-page{
    display:flex;
   }
   
   .home-side-right img{
    width:400px;
    height:350px;
   }
  
  
   .check-work{
    padding-top:20px;
   }
   
  
   /* PROJECT MOTHER STYLE RULES*/
    /* PROJECT MOTHER STYLE RULES*/
    /* PROJECT MOTHER STYLE RULES*/
    /*  */
  
   
  .pj-mother{
     display:flex;
   flex-direction:row;
    gap:30px;
   padding-bottom:100px
  }
  
  .reverse{
  display:flex;
  flex-direction: row-reverse;
  }
   
  .pj-mother img{
   width:300px;
   height:280px;
   position:relative;
  }
  
   
  .home-about p{
   padding-right:100px;
  }
  
  .home-about h3{
  font-size:22px;
  }
  
   
  }
  
  
  
  @media (min-width: 1024px) {
    
#menu-bar{
 right:80px;
  gap:40px;
}

    
.logo-card{


position:absolute;
left:-40px;
	top:-95px;
	

	border-radius:10px;
}

.logo-card img{
	width:300px;
	height:300px;
}


    
  .home-page{
    padding-top:150px;
   padding-bottom:150px;
    padding-left:80px;
     padding-right:80px;
   }
  
   
   .home-side-right img{
    width:450px;
    height:370px;
    position:relative;
    right:0px;
   }
  
  
   .check-work{
    padding-top:40px;
   }
   
  
   /* PROJECT MOTHER STYLE RULES*/
    /* PROJECT MOTHER STYLE RULES*/
    /* PROJECT MOTHER STYLE RULES*/
    /*  */
  
.project{
   padding-left:80px;
  padding-right:80px;
}
    
  .pj-mother{
     display:flex;
   flex-direction:row;
    gap:50px;
   padding-bottom:100px;
  
  }
  
  
  .pj-mother img{
   width:400px;
   height:350px;
   position:relative;
  }
  
   .reverse{
  display:flex;
  flex-direction: row-reverse;
  }

    .home-about{
       padding-left:80px;
    }
   
  .home-about p{
   padding-right:300px;
  }
  
  .home-about h3{
  font-size:22px;
  }
   footer{
      padding-left:80px;
   }
   
  }



  @media (min-width: 1321px) {


    #menu-bar{
 right:140px;
  gap:40px;
}

    .logo-card{


      position:absolute;
      left:15px;
        top:-95px;
        
      
        border-radius:10px;
      }
      


  .home-page{
    padding-top:150px;
   padding-bottom:150px;
   padding-left:140px;
   padding-right:140px;
   }
  
   
   .home-side-right img{
    width:550px;
    height:400px;
    position:relative;
    right:px;
   }
  
  
   .check-work{
    padding-top:60px;
   }
   
  
   /* PROJECT MOTHER STYLE RULES*/
    /* PROJECT MOTHER STYLE RULES*/
    /* PROJECT MOTHER STYLE RULES*/
    /*  */
  
.project{
  padding-left:140px;
   padding-right:140px;
}

    
  .pj-mother{
     display:flex;
   flex-direction:row;
    gap:70px;
   padding-bottom:200px
  }


   
  .pj-mother img{
   width:600px;
   height:380px;
   position:relative;
  }
  
   .reverse{
  display:flex;
  flex-direction: row-reverse;
  }
   
.home-about,footer{
  padding-left:140px;
   padding-right:140px;
}
    
  .home-about p{
   padding-right:300px;
  }
  
  .home-about h3{
  font-size:22px;
  }
  
   
  }


/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

  @media (min-width: 728px) {

.abt-img-card{
  padding-top:50px;
  display:flex;
  justify-content:center;
}

.abt-img-card img{
 width:300px;
  
}

.about-intro h2 {
 padding-right:90px;
}

  }



 @media (min-width: 1024px) {

.abt-img-card{
  padding-top:50px;
  display:flex;
  justify-content:center;
}

.abt-img-card img{
 width:600px;
  
}

.about-intro h2 {
 padding-right:290px;
   padding-left:68px;
}

.about-proper,
   .education,
   .skills,
   .design-tools,
   .about-Resume p,
   footer{
   padding-right:65px;
   padding-left:65px;
}

      
  }


     @media (min-width: 1321px) {

.abt-img-card{
  padding-top:50px;
  display:flex;
  justify-content:center;
}



.about-intro h2 {
 padding-right:490px;
   padding-left:108px;
}

.about-proper,
   .education,
   .skills,
   .design-tools,
   .about-Resume p,
   footer{
   padding-right:105px;
   padding-left:115px;
}

      
  }
