

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
*/

*{
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;

 }

a{
	color:white;
	cursor: pointer;
}

body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.6 'Inconsolata', monospace;
	background-color:white;

	}
  

	

	


 /*  Whatsapp  STYLE RULES */


/* WHATSAPP FIXED ICON */
.chat{
    position:fixed;
     top:80%;
     display:flex;
     justify-content:right;
     align-items:right;
    right:20px;
    z-index: 99999;
   
    }
    
    .chat-text{
    background-color:white;
    width:110px;
    text-align:center;
    border-radius:8px;
    line-height:1.7;
    font-weight:500;
     height:27px;
     
  
    }
    
    .whatsapp-img i{
    border-radius:100%;
    font-size:40px;
     color:black;
    margin-top:-9px;
    animation: scaleUp 3s ease-in-out infinite;
    }
  



    @keyframes scaleUp {
 
        0%,
        100% { transform: translateY(0) scale(1); }
        
        50% { transform: translateY(-5px) scale(1.05);}
        
        }
/* WHATSAPP FIXED ICON */

 


.scrollTop{
  position:fixed;
  bottom:30px;
  right:30px;
  background-color: black;
  color:white;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  z-index: 9999;
  padding: 10px;
  border-radius:30px;
}

 /* END OF  SCROLL TO TOP STYLE RULES */
  



  /*  HEADER STYLE RULES */

header{
background-color:white;
 height:80px;
 display:flex;
  width: 100%;
  top:0px;
  position:fixed;
  z-index: 9999;
  text-align: center;
  justify-content:center;
  display:flex;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.251);
}




.logo-card{


position:absolute;
left:-80px;
	top:-70px;
	

	border-radius:10px;
}

.logo-card img{
	width:250px;
	height:250px;
}


 /*  MENU BTN / NAVIGATION  STYLE RULES */

 #menu-bar{
display:flex;
position:absolute;
right:20px;
	top:30px;
gap:20px;
font-weight:400;
font-family:'Montserrat', sans-serif;
 }


 #menu-bar a{
text-decoration: none;
	color:black;
	 }
	
	#hide-menu{
		display:none;
	}


 /*  HOMEPAGE STYLE RULES */

.home-page{
	padding:120px 30px 70px 25px;
	
}

.home-side-left h1{
	font-family:'Montserrat', sans-serif;
	font-weight:bolder;
	font-size:35px;
}

.home-side-left p{
	padding-bottom:25px;
}

.home-side-right img{
	width:100%;
	
   }
	

.check-work{
	padding-bottom:55px;
	font-family:'Montserrat', sans-serif;
	font-size:12px;
}

.dot-card{
	display:flex;
	
}

.dot-card .dot{
	width:7px;
	height:7px;
	margin:1px;
	border-radius:10px;
	border:1px solid black;
}

.dot-card:hover .dot{
	background-color:black;
}



 /*  AZINA KITCHEN SECTION  STYLE RULES */

.project{
	 padding:10px 25px 10px 25px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	
}

.project h1,h6,h3{
	font-family:'Montserrat', sans-serif;
	
}

.project h3{
	font-size:15px;
	font-weight:lighter;
	padding-bottom:50px;
}



.pj-mother{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-top:0px;

}

.pj-overlay{
	position:absolute;
	top:0;
	left:0;
	background:#545a5a;
	width:100%;
	opacity:.8;
	font-size:10px;
	height:84%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	border-radius:20px;
	visibility:hidden;
	transition: .5s ease;

font-family: 'Montserrat', sans-serif;

}

.pj-second-mother{
	position:relative;
	cursor: pointer;
	
}

.pj-second-mother img{
	transition: .5s ease;
	
}


.pj-second-mother:hover .pj-overlay{
	visibility:visible;
}

.pj-second-mother:hover img{
	transform:scale(1.-1);
}


.pj-img-card{

}

.pj-img-card img{

}

.pj-details{
	padding-top:30px;
}

.pj-details h6{
	font-size:12px;
	font-weight:450;
}

.project h3{
	font-weight: 400;
}


.pj-details h3{
	font-weight:bold;
	padding-bottom:10px;
}

.pj-category{
	display:flex;
	gap:20px;
	padding-top:15px;
	padding-bottom:15px;
}

.pj-category button{
	width:100px;
	line-height:1.9;
	border-radius:10px;
	border:none;
	font-weight:lighter;
	font-size:10
	
}




 /*  ABOUT SECTION  STYLE RULES */

.home-about{
	padding:25px;
}

.home-about h1{
	padding-bottom:25px;
	font-weight:lighter;
	font-size:17px;
}

.home-about h3{
	padding-bottom:20px;
		font-family:'Montserrat', sans-serif;
}


	 /*  FOOTER SECTION  STYLE RULES */

footer{
	padding:75px 25px 25px 25px;
	font-family:'Montserrat', sans-serif;
}

footer h3,h2{
	font-family:'Montserrat', sans-serif;
}

footer h3{
	font-weight:500;
	padding-bottom:13px;
}

footer h2{
	padding-bottom:8px;
}

.foot-icon-plus-text-card{
	padding-top:10px;
		padding-bottom:10px;
}

.foot-icon-plus-text-card p{
	padding-top:20px;
		font-size:12px;
}

.foot-icon i{
	font-size:35px;
	margin:10px
}


.copyright h1{
	text-align:center;
	padding-top:35px;
	font-size:20px;
	font-weight: 300;
}

.copyright p{

	
	font-size:12px;
}


